*{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body{
    background-color: rgb(42, 65, 80);
}

.title-container{
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #ffffff;
}

.game-container{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.tile-container{
    width: 510px;
    margin-bottom: 30px;
}

.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 10px;
    border: 1px; 
    background-color: cadetblue;
    margin: 4px;
}

.key-container #ENTER, #Bksp{
    width: 65px
}

.key-container #A{
    margin-left: 30px;
}

.tile-container div{
    display: flex;
}

.tile-container .tile {
    font-size: xx-large;
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: 2px solid #0a2535;
    box-sizing: border-box;
}

.message-container{
    height: 30px;
}

.message-container p {
    background-color: #0a2535;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip{
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
    
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border:none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border:none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}